{% extends "layout.html" %}

{% block conteudo %}

<form>

    <input type="text" id="form_nome">

    <input type="text" id="form_descricao">

    <select id="form_cidade">
        <option value="indaial">Indaial</option>
        <option value="timbo">Timbó</option>
    </select>

    <select id="form_bairro" disabled>
    </select>

    <input type="number" id="form_area">

    <input type="number" id="form_quartos">

    <input type="checkbox" id="form_apartamento">

    <input type="checkbox" id="form_quintal">

</form>


{% endblock %}

{% block script %}

<script>



</script>

{% endblock %}