{% extends "layout.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

<style>
    #layout-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow: hidden;
    }

    #menu_busca {
        width: 400px;
    }
    
    #form_busca {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    #busca_resultado {
        flex-grow: 1;
        overflow-y: scroll;
        
        display: flex;
        flex-direction: column;
    }

    #paginador {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #paginador * {
        margin: 10px 20px;;
    }

    #paginador button {
        border: none;
    }

    #resultados {
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: center;
        border: 1px solid black;
    }

    .item img {
        height: 60px;
        width: 60px;
    }

    .item .item-nome {
        flex-grow: 1;
    }

    .item p {
        margin: 0px 10px;
    }

</style>

{% endblock %}

{% block conteudo %}

<div id="layout-container">
    <div id="menu_busca">
        <form id="form_busca">
            <label for="busca_cidade">Cidade: </label>
            <select id="busca_cidade">
                <option selected value="any">Qualquer</option>
                <option value="Indaial">Indaial</option>
                <option value="Timbó">Timbó</option>
            </select>
            <label for="busca_bairro">Bairro: </label>
            <select id="busca_bairro" disabled>
                <option selected value="any">Qualquer</option>
            </select>
            <label for="busca_quartos">Quartos: </label>
            <input type="number" id="busca_quartos" value="1">
            <label for="busca_apt"><input type="checkbox" id="busca_apt"> Apartamento?</label>
            <label for="busca_quintal"><input type="checkbox" id="busca_quintal"> Quintal?</label>
            <label for="busca_venda"><input type="checkbox" id="busca_venda"> A venda?</label>
            <input type="submit" value="Buscar">
        </form>
        <br>
        <br>
        <p>Resultados por cidade: </p>
        <div id="resultados-por-cidade">
        </div>
    </div>
    
    <div id="busca_resultado">
        <div id="paginador">
            <button id="pg-anterior"> << </button>
            <div id="texto-paginas"> Página 0/0 </div>
            <button id="pg-proxima"> >> </button>
        </div>

        <div id="resultados">

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    let dados_ultima_busca;
    let pagina = 1;
    let paginasTotal;

    function atualizarBusca() {
        api_busca(pagina, dados_ultima_busca).then(
            (res) => {
                console.log(res);
                let paginasTotal = res.total;
                $('#texto-paginas').text('Página ' + pagina + '/' + paginasTotal)
                $('#resultados').children().remove();

                for (let item of res.dados) {
                    $('#resultados').append(`
                        <div class="item" data-id-imovel="${item.id}">
                            <img src="/img/${item.imagem}">
                            <p class="item-nome">${item.nome}</p>
                            ${item.venda != null
                                ? `
                                    <p>R$${item.venda.preco}.00</p>
                                    <p>${item.venda.tipo}</p>
                                `
                                : `
                                    <p>N/A</p>
                                    <p>N/A</p>
                                `
                            }
                        </div>
                    `);
                }

                Plotly.newPlot('resultados-por-cidade', [{
                    x: Object.keys(res.graph_data),
                    y: Object.values(res.graph_data),
                    type: 'bar'
                }]);
            },

            (err) => {
                alert(err)
            }
        );
    }

    $('#pg-proxima').on('click', function() {
        if (pagina != paginasTotal) {
            pagina += 1;
            atualizarBusca();
        }
    })

    $('#pg-anterior').on('click', function() {
        if (pagina != 1) {
            pagina -= 1;
            atualizarBusca();
        }
    })

    $(document).on('click', '.item', function() {
        window.location.pathname = '/imovel/' + $(this).attr('data-id-imovel');
    })

    $('#form_busca').on('submit', function(ev) {
        ev.preventDefault();

        let cidade = $('#busca_cidade').val();
        let bairro = $('#busca_bairro').val();
        let quartos_min = parseInt($('#busca_quartos').val());
        let apt = $('#busca_apt').prop('checked');
        let quintal = $('#busca_quintal').prop('checked');
        let venda = $('#busca_venda').prop('checked');

        dados_ultima_busca = { cidade, bairro, quartos_min, apt, quintal, venda };
        pagina = 1;
        atualizarBusca();
    })

    $('#busca_cidade').on('change', function() {
        let cidade = $('#busca_cidade > option:selected').val()
        let bairros;

        if (cidade == 'Indaial') {
            // nem tem bairro cara
            // gente eu moro aqui e só lembro quatro bairros
            // DESDE QUANDO ARAPONGAS EXISTE ???
            // ESTRADINHA????????????????? :skull:
            bairros = [
                'Warnow', 'Ribeirão das Pedras', 'Estrada das Areias', 'Mulde',
                'Arapongas', 'Carijós', 'Centro', 'Encano', 'Encano do Norte', 'Estados', 
                'Estradinha', 'João Paulo II', 'Nações', 'Polaquia', 'Rio Morto', 'Sol', 'Tapajós'
            ]
        } else if (cidade == 'Timbó') {
            // quintino bocaiúva

            bairros = [
                'Mulde Alta', 'Mulde Baixa', 'Mulde Central', 'Fritz Lorenz', 'Araponguinhas',
                'Estados', 'Padre Martinho Stein', 'Dona Clara', 'Tiroleses', 'Capitais',
                'Centro', 'Imigrantes', 'Nações', 'Cedrinho', 'São Roque', 'Pomeranos',
                'Quintino Bocaiúva', 'Vila Germer', 
            ]
        }

        $('#busca_bairro').html('')
        $('#busca_bairro').append('<option selected value="any">Qualquer</option>')
        
        if (cidade != 'any') {
            for (let bairro of bairros) {
                $('#busca_bairro').append(
                    `<option value=${bairro}>${bairro}</option>`
                )
            }
    
            $('#busca_bairro').attr('disabled', false)
        } else {
            $('#busca_bairro').attr('disabled', true);
        }
    });
</script>

{% endblock %}