{% extends "layout.html" %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: column;

        padding: 50px 30px;
    }

    textarea {
        resize: none;
        height: 100px;
    }

    form input, form textarea, form select {
        margin-bottom: 10px;
    }

    #form-division {
        display: flex;
        flex-direction: row;
    }

    #form-division * {
        margin: 10px 10px;
        margin-bottom: 20px;
    }

    #galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #galeria img {
        width: 250px;
        height: 250px;
        border: 1px solid black;
        margin: 10px;
    }
</style>
{% endblock %}

{% block conteudo %}

<form id="imovel_form">

    <h1>Dados</h1>

    <label for="form_nome">Nome</label>
    <input type="text" id="form_nome" required>

    <label for="form_descricao">Descrição</label>
    <textarea id="form_descricao" required></textarea>

    <label for="form_cidade">Cidade</label>
    <select id="form_cidade" required>
        <option disabled selected value>-- Escolha uma cidade --</option>
        <option value="Indaial">Indaial</option>
        <option value="Timbó">Timbó</option>
    </select>

    <label for="form_bairro">Bairro</label>
    <select id="form_bairro" disabled required>
    </select>

    <div id="form-division">
        <label for="form_area">Área (km2)</label>
        <input type="number" id="form_area" required>

        <label for="form_quartos">Quartos</label>
        <input type="number" id="form_quartos" required>
    
        <label for="form_apartamento">Apartamento?</label>
        <input type="checkbox" id="form_apartamento">
    
        <label for="form_quintal">Quintal?</label>
        <input type="checkbox" id="form_quintal">
    </div>

    <input type="submit" value="{{ 'Atualizar!' if imovel else 'Cadastrar!' }}">
</form>

{% if imovel %}
    <h1>Imagens</h1>

    <div id="galeria">
        {% for imagem in imovel.imagens %}
            <img src="/img/{{ imagem.arquivo }}">
        {% endfor %}
    </div>

    <form id="form_imagem">
        <label for="adicionar_imagens">Adicionar Imagem: </label>
        <input id="adicionar_imagens" type="file" name="file" accept=".png,.jpg,.jpeg,.gif">
        <input type="submit" value="Enviar">
    </form>

    <script>
        $('#form_imagem').on('submit', function(ev) {
            ev.preventDefault();
            let data = new FormData($('#form_imagem').get(0));
    
            api_adicionarImagem('{{ imovel.id }}', data).then(
                (res) => window.location.reload(),
                (err) => alert(err),
            );
        })
    </script>
{% endif %}


{% endblock %}

{% block script %}

{% if imovel %}
    <script>
        function finalizar(dados) {
            return api_alterarImovel('{{ imovel.id }}', dados)
        }
    </script>
{% else %}
    <script>
        function finalizar(dados) {
            return api_novoImovel(dados)
        }
    </script>
{% endif %}

<script>
    
    $('#imovel_form').on('submit', function(ev) {
        ev.preventDefault();

        let nome = $('#form_nome').val()
        let descricao = $('#form_descricao').val()
        let cidade = $('#form_cidade').val()
        let bairro = $('#form_bairro').val()
        let area = parseInt($('#form_area').val())
        let quartos = parseInt($('#form_quartos').val())
        let apartamento = $('#form_apartamento').prop('checked')
        let quintal = $('#form_quintal').prop('checked')

        finalizar({ nome, descricao, cidade, bairro, area, quartos, apartamento, quintal }).then(
            (res) => {
                window.location.pathname = '/imovel/' + res.id
            },

            (err) => {
                alert('Não foi possível cadastrar neste momento.')
            }
        )
    });

    // SELETOR DE BAIRROS
    function atualizarBairros() {
        let cidade = $('#form_cidade > option:selected').val()
        let bairros;

        if (cidade == 'Indaial') {
            // nem tem bairro cara
            // gente eu moro aqui e só lembro quatro bairros
            // DESDE QUANDO ARAPONGAS EXISTE ???
            // ESTRADINHA????????????????? :skull:
            bairros = [
                'Warnow', 'Ribeirão das Pedras', 'Estrada das Areias', 'Mulde',
                'Arapongas', 'Carijós', 'Centro', 'Encano', 'Encano do Norte', 'Estados', 
                'Estradinha', 'João Paulo II', 'Nações', 'Polaquia', 'Rio Morto', 'Sol', 'Tapajós'
            ]
        } else if (cidade == 'Timbó') {
            // quintino bocaiúva

            bairros = [
                'Mulde Alta', 'Mulde Baixa', 'Mulde Central', 'Fritz Lorenz', 'Araponguinhas',
                'Estados', 'Padre Martinho Stein', 'Dona Clara', 'Tiroleses', 'Capitais',
                'Centro', 'Imigrantes', 'Nações', 'Cedrinho', 'São Roque', 'Pomeranos',
                'Quintino Bocaiúva', 'Vila Germer', 
            ]
        }

        $('#form_bairro').html('')
        $('#form_bairro').append('<option disabled selected value>--Escolha um bairro --</option>')
        
        for (let bairro of bairros) {
            $('#form_bairro').append(
                `<option value=${bairro}>${bairro}</option>`
            )
        }

        $('#form_bairro').attr('disabled', false)
    }

    $('#form_cidade').on('change', atualizarBairros);
</script>

{% if imovel %}
    <script>
        let dados = JSON.parse('{\
            "nome": "{{ imovel.nome }}",\
            "descricao": "{{ imovel.descricao }}",\
            "cidade": "{{ imovel.cidade }}",\
            "bairro": "{{ imovel.bairro }}",\
            "area": {{ imovel.area }},\
            "quartos": {{ imovel.quartos }},\
            "apartamento": {{ "true" if imovel.apartamento else "false" }},\
            "quintal": {{ "true" if imovel.quintal else "false" }}\
        }');

        let { nome, descricao, cidade, bairro, area, quartos, apartamento, quintal } = dados;

        $('#form_nome').val(nome);
        $('#form_descricao').val(descricao);
        $('#form_cidade').val(cidade);
        atualizarBairros();
        $('#form_bairro').val(bairro);
        $('#form_area').val(area);
        $('#form_quartos').val(quartos);
        $('#form_apartamento').prop('checked', apartamento);
        $('#form_quintal').prop('checked', quintal);
    </script>
{% endif %}

{% endblock %}