{% extends "layout.html" %}

{% block head %}

<style>
    #container_descricao {
        display: flex;
        flex-direction: row;
    }

    #descricao {
        flex-grow: 1;
        padding: 0 20px;
    }

    #dados {
        display: flex;
        flex-direction: column;
        border-left: 1px solid gray;
    }

    #dados div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #dados div p {
        margin: 5px 40px;
    }

    h1 {
        padding: 0 20px;
    }

    table th {
        padding: 0px 20px;
    }

    table td {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        min-width: 150px;
        padding: 0px 20px;
    }

    #galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #galeria img {
        width: 250px;
        height: 250px;
        border: 1px solid black;
        margin: 10px;
    }
</style>

{% endblock %}

{% block conteudo %}

<h1>{{ imovel.nome }}</h1>
<hr>
<div id="galeria">
    {% for imagem in imovel.imagens %}
        <img src="/img/{{ imagem.arquivo }}">
    {% endfor %}
</div>
<hr>
<div id="container_descricao">
    <p id="descricao">{{ imovel.descricao }}</p>

    <div id="dados">
        <div>
            <p>Cidade: </p>
            <p>{{ imovel.cidade }}</p>
        </div>
        <div>
            <p>Bairro: </p>
            <p>{{ imovel.bairro }}</p>
        </div>
        <div>
            <p>Área: </p>
            <p>{{ imovel.area }}</p>
        </div>
        <div>
            <p>Quartos: </p>
            <p>{{ imovel.quartos }}</p>
        </div>
        <div>
            <p>Apartamento? </p>
            <p>{{ 'Sim' if imovel.apartamento else 'Não' }}</p>
        </div>
        <div>
            <p>Quintal? </p>
            <p>{{ 'Sim' if imovel.quintal else 'Não' }}</p>
        </div>
    </div>
</div>
<hr>

<div id="container_venda">
    <h2>Venda</h2>
    {% if imovel.venda == None %}
        <p>Este imóvel não está a venda.</p>

        {% if g.admin %}
            <form id="form_venda">
                <label for="venda_preco">Preço: </label>
                <input type="number" id="venda_preco" required>
                <label for="venda_tipo">Tipo: </label>
                <select id="venda_tipo" required>
                    <option value="venda">Fixo</option>
                    <option value="alugel">Aluguel</option>
                </select>
                <button> Adicionar venda. </button>
            </form>
            <script>
                $('#form_venda').on('submit', function(ev) {
                    ev.preventDefault();

                    let tipo = $('#venda_tipo').val();
                    let preco = parseInt($('#venda_preco').val());

                    api_adicionarVenda('{{ imovel.id }}', tipo, preco).then(
                        res => {
                            window.location.reload();
                        },
                        err => {
                            alert(err);
                        }
                    );
                })
            </script>
        {% endif %}
    {% else %}
        {% if imovel.venda.tipo == 'venda' %}
            <p>Este imóvel está a venda por R${{ imovel.venda.preco }}.00</p>

            {% if g.user != None %}
                <button id="comprar_imovel">Comprar</button>
                <script>
                    $('#comprar_imovel').on('click', function(ev) {
                        api_comprarImovel('{{ imovel.id }}').then(
                            res => { window.location.reload() },
                            err => { alert(err) }
                        );
                    });
                </script>
            {% endif %}
        {% endif %}

        {% if imovel.venda.tipo == 'realizada' %}
            {% if g.admin %}
                <p>Este imóvel foi vendido para {{ imovel.venda.cliente.nome }} por R${{ imovel.venda.preco }}.00</p>
            {% else %}
                <p>Este imóvel já foi vendido.</p>
            {% endif %}
        {% endif %}

        {% if imovel.venda.tipo == 'alugel' %}
            {% if imovel.venda.alugado %}
                <p>Este imóvel já está alugado no momento.</p>
            {% else %}
                <p>Este imóvel pode ser alugado no momento.</p>
                <button id="alugar_imovel">Alugar.</button>
                <script>
                    $('#alugar_imovel').on('click', function() {
                        api_alugarImovel('{{ imovel.id }}').then(
                            (res) => window.location.reload(),
                            (err) => alert(err)
                        );
                    });
                </script>
            {% endif %}

            {% if g.admin %}
                <h2>Histórico de alugel</h2>
                <br>
                <table id="alugel_historico">
                    <thead>
                        <th>Cliente</th>
                        <th>Início</th>
                        <th>Fim</th>
                    </thead>
                    <tbody>
                    {% for alugel in imovel.venda.alugeis %}
                        <td>{{ alugel.cliente.nome }}</td>
                        <td>{{ alugel.data }}</td>
                        <td>{{ alugel.data_fim }}</td>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <button id="finalizar_alugel">Finalizar alugel atual.</button>
                <script>
                    $('#finalizar_alugel').on('click', function() {
                        api_finalizarAlugel('{{ imovel.id }}').then(
                            (res) => {
                                if (res) {
                                    window.location.reload();
                                } else {
                                    alert('Ainda não é possível finalizar este alugel.');
                                }
                            },
                            (err) => alert
                        );
                    })
                </script>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% if g.admin %}
    <br>
    <a id="controle-admin" href="/editar/{{ imovel.id }}">Editar dados do imóvel</a>
{% endif %}

{% endblock %}